﻿@model MovieLib.Models.Movie
<script>
        function error() {
            $("#holder").append("Not correct values: Check Editing fields");
        }
        function refresh() {
            list = $(this).parent().parent().attr('id');
            search = $(this).parent().parent().parent().find('#term').val();
            if (list === 'allMovies') $("#holder").parent().parent().parent().find("#allMovies").load('@Url.Content("/SPA/GetAll")');
            else if (list === 'findMovies') $("#holder").parent().parent().parent().find("#findMovies").load('@Url.Content("/SPA/Find")', {term:search});
         }
        $(document).ready(function () {
            $("#updateMovie").click(function () {
            });
        });
</script>


@using (Ajax.BeginForm("Edit2", "SPA", new
{
    Id = Model.Id,
    Name = Model.Name,
    Country = Model.Country,
    ReleaseDate = Model.ReleaseDate
}, new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "POST",
                        OnComplete="refresh",
                        OnFailure = "error",
                        UpdateTargetId = "holder",
                    })) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Movie</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Country)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Country)
            @Html.ValidationMessageFor(model => model.Country)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReleaseDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReleaseDate)
            @Html.ValidationMessageFor(model => model.ReleaseDate)
        </div>
        <p>
            <input id="updateMovie" type="submit" value="Save" />
        </p>
        
    </fieldset>
}
<div id="holder"></div>