﻿@model IEnumerable<MovieLib.Models.Movie>
@{
    ViewBag.list = "find";
}
    <script>
        $(document).ready(function () {
            $("#getFindHide").click(function () {
                $("#getFindHide").parent().parent().find("#findMovies").empty();
            });
        });
</script>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Ajax.ActionLink("Edit","Edit", new { id=item.Id },new AjaxOptions  
                 {  
                     UpdateTargetId="editView", 
                     InsertionMode = InsertionMode.Replace, 
                     HttpMethod = "GET" 
                 })
            @Ajax.ActionLink("Delete","Delete", new { id=item.Id },new AjaxOptions  
                 {  
                     UpdateTargetId="deleteView",  
                     InsertionMode = InsertionMode.Replace,
                     HttpMethod = "GET" 
                 })
        </td>
    </tr>
}

</table>
<input type="submit" value="Hide Movies" id="getFindHide" class="btn btn-success" />
<div id="editView">
</div>
<div id="deleteView">
</div>