﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.8.0.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    @Html.ActionLink("Go Back To Main Page", "Index", "Movie")
    <br />
    <div>
        @using (Ajax.BeginForm("Create", "SPA", new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "GET",
                        OnFailure = "searchFailed",
                        UpdateTargetId = "createMovie",
                    }))
                    {
                        <input type="submit" value="Add Movie" class="btn btn-primary" />
                    }
    </div>
    <div id="createMovie">
    </div>
    <br />
    <span>
        Search Movies
    </span>
    <div>
        @using (Ajax.BeginForm("Find", "SPA", new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "GET",
                        OnFailure = "searchFailed",
                        UpdateTargetId = "findMovies",
                    }))
                    {
                        <input type="text" name="term" id="term" />
                        <input type="submit" value="Find a Movie" class="btn btn-default" />
                    }
    </div>
    <div id="findMovies">
    </div>
    <br />
    <span>
        Show All Movies
    </span>
    <div>
        @using (Ajax.BeginForm("GetAll", "SPA", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET",
            OnFailure = "searchFailed",
            UpdateTargetId = "allMovies",
        }))
        {
                        <input type="submit" value="Show Movies" class="btn btn-info" />
                    }
    </div>
    <div id="allMovies">
    </div>
</body>
</html>
