﻿@model MovieLib.Models.User
@{
    ViewBag.Title = "Registration";
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
</head>
<body>
    
    @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
            {
    if (ViewBag.Message != null)
    {
        <div class="alert alert-success">
            <strong></strong>@ViewBag.Message
        </div>
    }
             }

    @using (Html.BeginForm()) {
        
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true,"Errors:")
    
        <fieldset>
            <legend>Register User</legend>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.UserName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
    
            <p>
                <input type="submit" value="Register" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Login", "Login")
    </div>
</body>
</html>
